<div class="container-fluid w-100">
  <div class="header">
    <app-header></app-header>
  </div>

  <div class="body">
    <div>
      <a class="intro_button" href="cook" title="plant-based cook">
        <img src="/assets/images/food.png" alt="plant-based cuisine" />
      </a>
    </div>
    <div>
      <a class="intro_button" href="dress" title="Ethical Fashionista">
        <img src="/assets/images/fashion.png" alt="ethical fashion" />
      </a>
    </div>
    <div>
      <a class="intro_button" href="travel" title="Eco Traveler">
        <img src="/assets/images/travel.png" alt="eco traveler" />
      </a>
    </div>
    <div>
      <a class="intro_button" href="vote" title="Active Citizen">
        <img src="/assets/images/vote.png" alt="active citizen" />
      </a>
    </div>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
